<div class="layout center-text">
  <h1>Auto-complete with Angular material and RxJS</h1>
  <hr>
  <div class="content">
    <form [formGroup]="autocompleteForm">
      <mat-form-field style="width: 320px;" appearance="fill">
        <input type="text" placeholder="Search products..." aria-label="Search products" matInput
          formControlName="autocomplete" [matAutocomplete]="auto" (input)="onInput($event)">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let product of products$ | async; trackBy: trackByFn" [value]="product.title">
            {{ product.brand + ' ' + product.title }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint>Enter at least 2 characters</mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>